

.feed_item {
    margin-top: 10rpx;
    font-size: 26rpx;
    color: #5c5c5c;
    background-color: #ffffff;
    padding: 10rpx 20rpx;
    border-radius: 8rpx;
}
.feed_item > text {
    display: block;
    margin-bottom: 6rpx;
    font-size: 28rpx;
    font-weight: bold;
}
.feed_item > video {
    height: 340rpx;
}
.feed_item > image {
    height: 340rpx;
    width: 100%;
    border-radius: 10rpx;
}
.feed_item .item_bottom > text {
    margin-right: 20rpx;
    opacity: .8;
}
