#form {
    height: 300rpx;
    border: 1px solid #ddd;
    padding: 20rpx;
    border-radius: 8rpx;
    margin: 6rpx;
    box-sizing: border-box;
    width: 750rpx;
}

.create_limit {
    text-align: right;
    font-size: 24rpx;
    margin: 10rpx 0;
    padding: 0 10rpx;
}
.create_image {
    display: flex;
}
.image_item {
    height: 160rpx;
    width: 160rpx;
    margin: 20rpx 10rpx 0;
}
.create_price {
    display: flex;
    padding: 0 20rpx;
}
#price_ipt {
    display: inline-block;
    width: 80rpx;
    border: 1px solid #ddd;
    border-radius: 4rpx;
    margin-left: 10rpx;
}
.create_btn {
    display: flex;
}
.btn {
    width: 160rpx;
    height: 64rpx;
    line-height: 64rpx;
    margin-top: 100rpx;
}
.btn_success {
    background-color: rgb(46, 154, 255);
    color: #fff;
    border-color: rgb(46, 154, 255);
}