
page, .chat_room {
    height: 100%;
    width: 100%;
}

.chat_room {
    display: flex;
    flex-direction: column;

}
.chat_room_content {
    flex: 1;
    overflow: hidden;
}
.chat_room_form {
    height: 80rpx;
    overflow: hidden;
    display: flex;
    font-size: 28rpx;
    margin-bottom: 20rpx;
}
.chat_room_form input {
    flex: 1;
    float: left;
    border: 2rpx solid #ddd;
    height: 80rpx;
    margin: 0 10rpx;
    border-radius: 60rpx;
    padding: 0 20rpx;
}
.chat_room_btn {
    height: 80rpx;
    line-height: 80rpx;
    width: 110rpx;
    color: #fff;
    background-color: rgb(13, 111, 238);
    margin-right: 20rpx;
    border-radius: 30rpx;
    text-align: center;
    float: left;
}

.chat_room_more {
    width: 70rpx;
    margin-left: 10rpx;
    border-radius: 10rpx;
    text-align: center;
    opacity: .8;
    position: relative;
    top: 10rpx;
}

.chat_item_left {
    padding: 10rpx;
    padding-right: 110rpx;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
.chat_item_left image {
    width: 80rpx;
    height: 80rpx;
    border-radius: 10rpx;
    margin-right: 20rpx;
    float: left;
}
.chat_item_content {
    overflow: hidden;
    font-size: 28rpx;
    white-space: wrap;
}
.chat_item_text {
    padding: 12rpx;
    margin-top: 6rpx;
    display: inline-block;
    background-color: aliceblue;
    border-radius: 10rpx;
    border: 1px solid rgb(236, 236, 236);
    box-shadow: 0 0 10rpx #ddd;
}
.chat_item_right {
    padding: 10rpx;
    padding-left: 110rpx;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    text-align: right;
}
.chat_item_right .chat_item_text {
    text-align: left;
}
.chat_item_right > image {
    width: 80rpx;
    height: 80rpx;
    border-radius: 10rpx;
    margin-left: 20rpx;
    float: right;
}
.chat_item_title {
    font-weight: bold;
    color: #333;
}

