.recommended {
    padding: 20rpx 40rpx;
}
.recommended > text {
    display: block;
    font-size: 36rpx;
}
.expertInfo {
    height: 140rpx;
    background-color: azure;
    margin-top: 16rpx;
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid rgb(208, 213, 218);
    border-radius: 8rpx;
}
.expertInfo > image {
    width: 100rpx;
    height: 100rpx;
    margin: 20rpx 0 0 10rpx;
    border-radius: 100rpx;
    float: left;
}
.expertInfo_detail {
    float: left;
    margin-left: 16rpx;
    padding: 10rpx;
    height: 100%;
    font-size: 24rpx;
    flex: 1;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.expertInfo_detail > text {
    display: block;
    margin-top: 6rpx;
}
.name, .count, .type, .star {
    display: inline-block;
}
.name {
    margin-right: 20rpx;
}
.type {
    font-size: 24rpx;
    opacity: .7;
}
.count {
    margin-right: 20rpx;
}
.star {
    vertical-align: middle;
}
.follow {
    width: 120rpx;
    height: 100%;
    font-size: 24rpx;
    text-align: center;
    padding-right: 10rpx;
}
.follow > view {
    margin-top:10rpx;
}
.price {
    border: 1px solid rgb(214, 214, 214);
    padding: 4rpx;
    border-radius: 4rpx;
}
.follow_btn {
    display: inline-block;
    background-color: brown;
    padding: 2rpx 4rpx;
    color: #fff;
    border-radius: 4rpx;
}