.nav {
    padding: 0 10rpx 10rpx;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-around;
}
.nav view {
    width: 160rpx;
    margin-top: 20rpx;
    text-align: center;
    padding-bottom: 10rpx;
    font-size: 26rpx;
    border-radius: 6rpx;
    background-color: #fff;
}
.nav view text {
    width: 160rpx;
    margin-top: 6rpx;
    display: block;
}
.smt-icon {
    transform: scale(1.5);
}